<?xml version="1.0" encoding="UTF-8"?>
<resources xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <properties>
        <property id="asrFactor" type="number">2</property>
        <!-- City index into Cities.KAZAKHSTAN (0..15). -1 = auto (GPS + cache + Almaty fallback). -->
        <property id="manualCityIdx" type="number">-1</property>
        <property id="offsetFajr"    type="number">0</property>
        <property id="offsetSunrise" type="number">0</property>
        <property id="offsetDhuhr"   type="number">0</property>
        <property id="offsetAsr"     type="number">0</property>
        <property id="offsetMaghrib" type="number">0</property>
        <property id="offsetIsha"    type="number">0</property>
        <!-- Language override: 0=auto, 1=kk, 2=ru, 3=en. -->
        <property id="langIdx"       type="number">0</property>
        <!-- Calculation method: index into Methods.IDS. 0 = ҚМДБ (default). -->
        <property id="methodIdx"     type="number">0</property>
        <!-- Vibrate at prayer times. -->
        <property id="notify"        type="boolean">true</property>
        <!-- Vibration pattern: 0=Standard (3 pulses), 1=Short (1), 2=Long (5), 3=Double. -->
        <property id="vibePattern"   type="number">0</property>
        <!-- Pre-alert minutes for Fajr. -->
        <property id="prealertFajr"  type="number">0</property>
        <!-- Pre-alert minutes for Dhuhr/Asr/Maghrib/Isha. -->
        <property id="prealertOther" type="number">0</property>
        <!-- Colour theme: 0=Bronze (default), 1=Mint, 2=Sky, 3=Mono. -->
        <property id="themeIdx"      type="number">0</property>
    </properties>

    <settings>
        <setting propertyKey="@Properties.asrFactor" title="@Strings.SettingAsr">
            <settingConfig type="list">
                <listEntry value="1">@Strings.AsrStandard</listEntry>
                <listEntry value="2">@Strings.AsrHanafi</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.manualCityIdx" title="@Strings.SettingCity">
            <settingConfig type="list">
                <listEntry value="-1">@Strings.CityAuto</listEntry>
                <listEntry value="0">@Strings.CityAlmaty</listEntry>
                <listEntry value="1">@Strings.CityAstana</listEntry>
                <listEntry value="2">@Strings.CityShymkent</listEntry>
                <listEntry value="3">@Strings.CityKaraganda</listEntry>
                <listEntry value="4">@Strings.CityAktobe</listEntry>
                <listEntry value="5">@Strings.CityTaraz</listEntry>
                <listEntry value="6">@Strings.CityPavlodar</listEntry>
                <listEntry value="7">@Strings.CityOskemen</listEntry>
                <listEntry value="8">@Strings.CitySemey</listEntry>
                <listEntry value="9">@Strings.CityAtyrau</listEntry>
                <listEntry value="10">@Strings.CityKostanay</listEntry>
                <listEntry value="11">@Strings.CityKyzylorda</listEntry>
                <listEntry value="12">@Strings.CityUralsk</listEntry>
                <listEntry value="13">@Strings.CityPetropavl</listEntry>
                <listEntry value="14">@Strings.CityAktau</listEntry>
                <listEntry value="15">@Strings.CityTurkestan</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.prealertFajr" title="@Strings.SettingPrealertFajr">
            <settingConfig type="numeric" min="0" max="30"/>
        </setting>
        <setting propertyKey="@Properties.prealertOther" title="@Strings.SettingPrealertOther">
            <settingConfig type="numeric" min="0" max="30"/>
        </setting>

        <setting propertyKey="@Properties.offsetFajr" title="@Strings.OffsetFajr">
            <settingConfig type="numeric" min="-9" max="9"/>
        </setting>
        <setting propertyKey="@Properties.offsetSunrise" title="@Strings.OffsetSunrise">
            <settingConfig type="numeric" min="-9" max="9"/>
        </setting>
        <setting propertyKey="@Properties.offsetDhuhr" title="@Strings.OffsetDhuhr">
            <settingConfig type="numeric" min="-9" max="9"/>
        </setting>
        <setting propertyKey="@Properties.offsetAsr" title="@Strings.OffsetAsr">
            <settingConfig type="numeric" min="-9" max="9"/>
        </setting>
        <setting propertyKey="@Properties.offsetMaghrib" title="@Strings.OffsetMaghrib">
            <settingConfig type="numeric" min="-9" max="9"/>
        </setting>
        <setting propertyKey="@Properties.offsetIsha" title="@Strings.OffsetIsha">
            <settingConfig type="numeric" min="-9" max="9"/>
        </setting>
        <setting propertyKey="@Properties.langIdx" title="@Strings.SettingLanguage">
            <settingConfig type="list">
                <listEntry value="0">@Strings.LangAuto</listEntry>
                <listEntry value="1">@Strings.LangKazakh</listEntry>
                <listEntry value="2">@Strings.LangRussian</listEntry>
                <listEntry value="3">@Strings.LangEnglish</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.methodIdx" title="@Strings.SettingMethod">
            <settingConfig type="list">
                <listEntry value="0">QMDB (KZ)</listEntry>
                <listEntry value="1">Muslim World League</listEntry>
                <listEntry value="2">Diyanet (Turkey)</listEntry>
                <listEntry value="3">Egyptian</listEntry>
                <listEntry value="4">ISNA</listEntry>
                <listEntry value="5">Karachi</listEntry>
                <listEntry value="6">Jafari (Shia)</listEntry>
                <listEntry value="7">Umm al-Qura</listEntry>
                <listEntry value="8">Tehran</listEntry>
                <listEntry value="9">Fixed Isha (90m)</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.notify" title="@Strings.SettingNotify">
            <settingConfig type="boolean"/>
        </setting>

        <setting propertyKey="@Properties.vibePattern" title="@Strings.SettingVibe">
            <settingConfig type="list">
                <listEntry value="0">@Strings.VibeStandard</listEntry>
                <listEntry value="1">@Strings.VibeShort</listEntry>
                <listEntry value="2">@Strings.VibeLong</listEntry>
                <listEntry value="3">@Strings.VibeDouble</listEntry>
            </settingConfig>
        </setting>

        <setting propertyKey="@Properties.themeIdx" title="@Strings.SettingTheme">
            <settingConfig type="list">
                <listEntry value="0">@Strings.ThemeBronze</listEntry>
                <listEntry value="1">@Strings.ThemeMint</listEntry>
                <listEntry value="2">@Strings.ThemeSky</listEntry>
                <listEntry value="3">@Strings.ThemeMono</listEntry>
            </settingConfig>
        </setting>

    </settings>

</resources>
